<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>
<body>
  <div class="container">
    <h1>Please sign in!</h1>
  </div>
  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">Must sign in to chat</h3>
    </div>
    <div class="panel-body">
      <p>Choose the service to sign in</p>
      <ul>
        <li>
          <a href="/auth/login/facebook">Facebook</a>
        </li>
        <li>
          <a href="/auth/login/github">GitHub</a>
        </li>
        <li>
          <a href="/auth/login/google">Google</a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>